.App {
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 600px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  /* text-align: center; */
}
input {
  border: none;
  outline: none;
  margin: 5px auto;
  display: block;
  width: 80%;
}
input:focus {
  background-color: #eaeaea;
}
.student-list {
  border-top: 1px solid #cccccc;
}
.student-card {
  display: flex;
  min-height: 150px;
  padding: 10px 10px;
  border: none;
  /* border: 1px solid #aaaaaa; */
  /* border-radius: 20px; */
  /* margin-bottom: 5px; */
}
.student-card:not(:last-child) {
  border-bottom: 1px solid #cccccc;
}
.card-data {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.card-img {
  height: 150px;
  border-radius: 50%;
  border: 1px solid #cccccc;
  overflow: hidden;
}
.student-card img {
  height: 100%;
}
